.wrapper {
    @apply
        max-h-160
        -mt-sm
        overflow-hidden
        relative;
}

.wrapper:before {
    content: '';
    @apply
        absolute
        left-0
        right-0
        bottom-0
        h-90;
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 0), rgb(255 255 255 / 1) 60%);
}

.open {
    max-height: unset;
}

.open:before {
    @apply hidden;
}

.expand {
    @apply
        text-default
        font-bold
        block
        absolute
        bottom-sm
        left-0
        right-0
        text-center;
}

.open .expand {
    @apply hidden;
}
