.thread:before {
    content: '';
    @apply absolute left-0 top-xl -bottom-md w-lg;
    background-image: url('/line.svg');
}

.threadbtn {
    @apply absolute inset-0 w-lg z-10;
}

.reply {
    @apply pl-xl relative;
}

.reply:before {
    content: '';
    @apply w-lg h-xl absolute left-0 -top-sm;
    background-image: url('/curve.svg');
    background-size: cover;
}
