.thread {
    @apply relative;
}

.thread:before {
    content: '';
    @apply absolute left-0 top-10 -bottom-6 w-8;
    background-image: url('/line.svg');
}

.reply {
    @apply pl-10 relative;
}

.reply:before {
    content: '';
    @apply w-8 h-10 absolute left-0 -top-4;
    background-image: url('/curve2.svg');
    background-size: cover;
}
