@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body {
  @apply font-sans text-default subpixel-antialiased;
}

h3 {
  @apply font-sans font-semibold text-tall subpixel-antialiased;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}